.headline-title {
    font-size: 2.1rem;
    margin: 40px auto;
    font-weight: bold;
}

.feature-list .compound-first {
    font-size: 1.5rem;
    font-weight: bold;
}

.feature-list {
    font-size: 1.2rem;
    margin-bottom: 50px;
}
